/* styles for app */

* {
  font-family: 'Poppins', sans-serif;
  text-transform: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bold {
  font-weight: 500;
}

.h1 {
  font-size: 33px;
  font-weight: 200;
}

.h1__city {
  width: 100%;
  font-size: 58px;
  text-align: right;
  margin: 0;
}

.h2 {
  font-size: 33px;
  text-align: center;
}

.h5 {
  width: 100%;
  text-align: right;
  margin: 0;
}

.h5__country {
  padding-bottom: 20px;
}




/* .header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0 30px;
  background: #000;
  color: #fff;
  z-index: 1;
} */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0 30px;
  background: #000;
  color: #fff;
  z-index: 3;
}

/* .header--left-container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

.header--left-container {
  width: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header--logo {
  position: relative;
  margin-top: 86px;
}

.resort-name--heading {
  position: absolute;
  top: 20px;
  left: 200px;
}

.main-nav--list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.globe-icon {
  position: absolute;
  top: 23px;
  right: 120px;
}

.chat-icon {
  height: 32px;
  width: 32px;
}

.chat-container{
  width: 100%;
  height: 32px;
  align-items: center;
  display: flex;
  margin-left: 170px;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #6fe15b; /* Green */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main-nav--list__item {
  margin-left: 40px;
  font-size: 14px;
  font-weight: 200;
  padding: 0;
  align-items: center;
  display: flex;
}

.disabled-cross {
  height: 20px;
  margin-left: 6px;
  position: absolute;
  z-index: 2;
}

.disabled-cross-team {
  height: 20px;
  position: absolute;
  z-index: 2;
}

.sub-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  left: 0;
  top: 75px;
  width: 100%;
  height: 65px;
  padding: 0 30px;
  background: rgba(255, 255, 255, .5);
  z-index: 1;
}

.selection {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.select-container {
  position: relative;
  display: block;
}

.select-city {
  display: block;
  padding-left: 15px;
  width: 250px;
  height: 32px;
  border: 0;
  color: #fff;
  background: #4a4a4a;
  -webkit-border-radius: 0;
  -moz-border-radius:    0;
  border-radius:         0;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  font-size: 18px;
}

.select--arrow {
  fill: #fff;
  position: absolute;
  right: 15px;
  top: 8px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.travel-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 32px;
  margin-left: 30px;
  padding: 0 10px;
  color: #fff;
  background: #4a4a4a;
}

.button--submit {
  width: 150px;
  height: 32px;
  margin-left: 45px;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius:    0;
  border-radius:         0;
  background: #000;
  color: #fff;
  font-size: 18px;
}

.hero {
  width: 100%;
  height: 900px;
  position: relative;
  margin: 0;
  margin-top: 75px;
  background: url('./images/default.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: 1.0s ease-in-out;
  -moz-transition: 1.0s ease-in-out;
  -o-transition: 1.0s ease-in-out;
  -ms-transition: 1.0s ease-in-out;
  transition: 1.0s ease-in-out;
}

.details-container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 125px;
  left: 0;
  width: 530px;
  min-height: 630px;
  padding: 40px;
  color: #fff;
  background: rgba(0, 0, 0, .75);
  opacity: 0;
  transform: scale(.8);
  transition: all 1s ease-in-out;
}

.team-wrapper {
  position: absolute;
  transform: scale(0);
  top: 60px;
  opacity: 0;
}

.team-header {
  background: rgba(0, 0, 0, .75);
  padding: 20px 20px;
  font-weight: 800;
  font-size: 30pt;
  color: #fff;
}

.team-containers {
  top: 20px;
  position: absolute;
  display: flex;
}

.team-photo {
  width: 350px;
}

.team-container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  top: 125px;
  left: 0;
  width: 530px;
  min-height: 630px;
  padding: 40px;
  position: relative;
  color: #fff;
  margin-right: 60px;
  background: rgba(0, 0, 0, .75);
  transition: all 1s ease-in-out;
  justify-content: center;
}

.name-label {
  width: 100%;
  padding: 10px 10px 10px 0px;
  font-size: 18px;
  text-align: left;
}

.is-selected {
  opacity: 1;
  left: 55px;
  transform: scale(1);
  transition: all 1s ease-in-out;
}

.show-team {
  opacity: 1;
  transform: scale(0.8);
  transition: all 1s ease-in-out;
}

.hide-team {
  opacity: 0;
  transform: scale(0);
  transition: all 1s ease-in-out;
}

.team-link {
  vertical-align: top;
  margin-left: 30px;
  justify-content: center;
}

.weather-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 100%;
  padding: 0 20px 10px;
  font-size: 24px;
}

.weather-container:first-of-type {
  align-items: center;
}

.condition {
  max-width: 300px;
  text-align: right;
  padding-left: 10px;
}

.factor {
  font-size: 36px;
  padding: 0 10px;
}

.weather-label {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-align: left;
}

.line {
  position: relative;
}

.line:after {
  position: absolute;
  top: 22px;
  content: '';
  height: 2px;
  margin-left: 20px;
  background: #fff;
}

.filter-green {
  filter: invert(27%) sepia(96%) saturate(1275%) hue-rotate(93deg) brightness(98%) contrast(106%);
}

.filter-green:hover {
  filter: invert(58%) sepia(32%) saturate(3248%) hue-rotate(63deg) brightness(102%) contrast(82%);
}

.filter-green:active {
  filter: invert(28%) sepia(7%) saturate(2895%) hue-rotate(77deg) brightness(102%) contrast(82%);
}

.line__condition:after {
  width: 230px;
}

.line__temp:after {
  width: 296px;
}

.line__name:after {
  width: 343px;
}

.line__wind:after {
  width: 370px;
}

.line__vis:after {
  width: 335px;
}

.weather-icon {
  height: 35px;
}

.footer {
  position: relative;
  width: 100%;
  height: 700px;
  padding: 150px 150px;
  background: #000;
  color: #fff;
}

.resort-name--footer {
  position: absolute;
  top: 100px;
  left: calc(50% - 120px);
}

.footer-content {
  text-align: center;
  text-transform: none;
  font-size: 20px;
}

.footer-content__heading {
  margin: 30px 0 0;
}

.footer-content__list {
  margin: 0;
  font-size: 14px;
}

.footer-content__contact {
  line-height: .5;
}

.footer-content__legal {
  font-size: 14px;
  line-height: .6;
}

.footer--logo {
  position: absolute;
  margin-left: calc(50% - 63px);
  left: 0;
  top: -61px;
}

/* CHAT BOX */
.chat-popup {
  position: fixed;
  margin-left: 170px;
  margin-top: 70px;
  border: 3px solid #f1f1f1;
  border-radius: 15px;
  z-index: 9;
  overflow: hidden;
}

.disabled {
  filter: invert(100%) sepia(0%) saturate(1443%) hue-rotate(221deg) brightness(118%) contrast(100%);
  position: absolute;
  z-index: 1;
}

.disabled-cross {
  height: 20px;
  margin-left: 6px;
  position: absolute;
  z-index: 2;
}

.send-button {
  height: 35px;
}

.filter-blue {
  filter: invert(49%) sepia(73%) saturate(4326%) hue-rotate(184deg) brightness(101%) contrast(109%);
}

.filter-blue:hover {
  filter: invert(87%) sepia(96%) saturate(1088%) hue-rotate(177deg) brightness(114%) contrast(104%);
}

.filter-blue:active {
  filter: invert(39%) sepia(89%) saturate(1791%) hue-rotate(183deg) brightness(100%) contrast(108%);
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  padding-top: 8px;
  margin-top: 5px;
  border: none;
  background: #f1f1f1;
  resize: none;
  max-height: 35px;
  font-size: 12px;
  border-radius: 15px;
  align-items: center;
}

.chat-box {
  height: 200px;
  overflow: scroll;
  margin-top: 10px;
}

.sentMessageBubble {
  background-color: cornflowerblue;
  display: block;
  float: right;
  max-width: 70%;
  word-wrap: break-word;
  overflow: auto;
  padding: 10px;
  border-radius: 15px 0px 15px 15px;
  color: white;
  font-size: 12px;
  margin-top: 2px;
  clear: both;
}

.receivedMessageBubble {
  background-color: #f1f1f1;
  display: block;
  float: left;
  max-width: 70%;
  word-wrap: break-word;
  overflow: auto;
  padding: 10px;
  border-radius: 0px 15px 15px 15px;
  color: black;
  font-size: 12px;
  margin-top: 2px;
  clear: both;
}

.status {
  font-size: 8px;
  color: gray;
  clear: both;
  float: right;
}

.chat-header {
  width: 100%
}

.message-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}